<div class="contenedor bg-light">
    <h1 class="text-center">Nombre pokemon</h1>
    <ul class="d-flex justify-content-center list-unstyled">
        <li class="bg-dark m-3 p-3 text-light">Tipo 1</li>
        <li class="bg-dark m-3 p-3 text-light">Tipo 2</li>
    </ul>
    
    <div class="bg-primary row">
        <ul class="col-2">
            <li>Estadísticas</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="col-9 bg-dark m-3"><img src="" alt=""></div>
        
    </div>
<div><h4>Descripción</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sequi.</p></div>

<div class="profile">
    <h3 class="bg-dark p-3 text-light text-center">Profile</h3>
    <mat-grid-list cols="2" rowHeight="30px">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    
</div>
<div class="moves">
    
</div>
</div>