<mat-spinner *ngIf="loading"></mat-spinner>
   <div *ngIf="!loading" class="fadeIn">
       <mat-grid-list cols="1" rowHeight="1:.5">
           <mat-grid-tile *ngFor="let pokemonRecibido of ArraysPokemon">
               <app-cards [pokemonInput]="pokemonRecibido"></app-cards>
            </mat-grid-tile>
        </mat-grid-list>
        
        <div class="pagination">
            <mat-icon (click)="paginationLeft()">arrow_left</mat-icon>
            <p>{{indicePaginacion}}</p>
            <mat-icon (click)="paginationRight()">arrow_right</mat-icon>
        </div>
    </div>
<!-- input sirve para cuando quiero pasar informacion de un elemento padre a un elemento hijo -->